 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 650px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  margin: 0 30px 0 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 325px;
  margin: -325px 46px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 308px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 194px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1917px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  margin: 160px 0 0;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 643px;
}

.u-section-3 .u-text-1 {
  line-height: 1.8;
  font-size: 1.25rem;
  margin: 56px 22px 0;
}

.u-section-3 .u-image-1 {
  width: 931px;
  height: 236px;
  margin: 22px auto 0 -12px;
}

.u-section-3 .u-image-2 {
  width: 823px;
  height: 122px;
  margin: 15px auto 0 11px;
}

.u-section-3 .u-image-3 {
  width: 468px;
  height: 15px;
  margin: 30px auto 60px 11px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: 680px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 575px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 183px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    width: 720px;
    height: 107px;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 137px;
  }

  .u-section-3 .u-image-2 {
    width: 540px;
    height: 80px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 86px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 50px;
  }

  .u-section-3 .u-image-3 {
    width: 340px;
    height: 11px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 801px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 57px 296px 0 41px;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 41px 76px 0 26px;
}

.u-section-4 .u-image-1 {
  width: 880px;
  height: 100px;
  margin: 17px auto 0 20px;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px 16px 0 41px;
}

.u-section-4 .u-image-2 {
  width: 784px;
  height: 117px;
  margin: 15px auto 0 16px;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px 0 0 41px;
}

.u-section-4 .u-image-3 {
  width: 859px;
  height: 124px;
  margin: 33px auto 30px 26px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: 803px;
    margin-left: 0;
    margin-right: 137px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 753px;
  }

  .u-section-4 .u-text-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 82px;
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    width: 720px;
    height: 107px;
    margin-left: 0;
  }

  .u-section-4 .u-image-3 {
    width: 720px;
    height: 104px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 62px;
  }

  .u-section-4 .u-image-2 {
    width: 540px;
    height: 80px;
  }

  .u-section-4 .u-image-3 {
    width: 540px;
    height: 78px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 39px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 101px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 50px;
    margin-top: -267px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 337px;
  }

  .u-section-4 .u-image-3 {
    width: 340px;
    height: 49px;
    margin-top: 0;
    margin-bottom: 11px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1165px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 57px 293px 0 44px;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 29px 293px 0 44px;
}

.u-section-5 .u-image-1 {
  width: 803px;
  height: 147px;
  margin: 19px auto 0 44px;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: 19px 243px 0 44px;
}

.u-section-5 .u-image-2 {
  width: 877px;
  height: 171px;
  margin: 11px auto 0 44px;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  margin: 31px 293px 0 44px;
}

.u-section-5 .u-image-3 {
  width: 776px;
  height: 113px;
  margin: 4px auto 0 44px;
}

.u-section-5 .u-text-5 {
  font-size: 1.25rem;
  margin: 16px 57px 0 37px;
}

.u-section-5 .u-image-4 {
  width: 570px;
  height: 144px;
  margin: 16px auto 60px 37px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    width: 803px;
    margin-right: 137px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    width: 803px;
    margin-right: 137px;
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 88px;
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-top: 0;
    margin-right: 137px;
    margin-left: 0;
  }

  .u-section-5 .u-image-3 {
    margin-top: 31px;
    margin-left: 0;
  }

  .u-section-5 .u-text-5 {
    margin-top: -7px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-image-4 {
    margin-top: 42px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1111px;
  }

  .u-section-5 .u-text-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    width: 720px;
    height: 132px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    width: 720px;
    height: 140px;
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }

  .u-section-5 .u-image-3 {
    width: 720px;
    height: 105px;
  }

  .u-section-5 .u-image-4 {
    margin-bottom: 34px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1009px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 99px;
  }

  .u-section-5 .u-image-2 {
    width: 540px;
    height: 105px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 8px;
  }

  .u-section-5 .u-image-3 {
    width: 540px;
    height: 79px;
  }

  .u-section-5 .u-image-4 {
    width: 540px;
    height: 136px;
    margin-top: 10px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 854px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 62px;
  }

  .u-section-5 .u-image-2 {
    width: 340px;
    height: 66px;
  }

  .u-section-5 .u-image-3 {
    width: 340px;
    height: 50px;
  }

  .u-section-5 .u-image-4 {
    width: 340px;
    height: 86px;
    margin-top: -86px;
    margin-bottom: 60px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1213px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 56px 293px 0 44px;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  margin: 29px 293px 0 44px;
}

.u-section-6 .u-image-1 {
  width: 676px;
  height: 102px;
  margin: 29px auto 0 63px;
}

.u-section-6 .u-text-3 {
  font-size: 1.25rem;
  margin: 7px 145px 0 57px;
}

.u-section-6 .u-image-2 {
  width: 777px;
  height: 83px;
  margin: 7px auto 0 71px;
}

.u-section-6 .u-text-4 {
  font-size: 1.25rem;
  margin: 0 81px 0 57px;
}

.u-section-6 .u-image-3 {
  width: 879px;
  height: 279px;
  margin: 7px auto 0 63px;
}

.u-section-6 .u-text-5 {
  font-size: 1.25rem;
  margin: 20px 81px 0 57px;
}

.u-section-6 .u-image-4 {
  width: 891px;
  height: 287px;
  margin: 20px auto 60px 44px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    width: 803px;
    margin-left: 0;
    margin-right: 137px;
  }

  .u-section-6 .u-text-2 {
    width: 803px;
    margin-left: 0;
    margin-right: 137px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-image-3 {
    margin-left: 61px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1102px;
  }

  .u-section-6 .u-text-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    margin-left: 44px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
  }

  .u-section-6 .u-image-2 {
    width: 720px;
    height: 77px;
    margin-left: 0;
  }

  .u-section-6 .u-image-3 {
    width: 720px;
    height: 229px;
    margin-left: 0;
  }

  .u-section-6 .u-image-4 {
    width: 720px;
    height: 232px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 947px;
  }

  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 81px;
    margin-left: 0;
  }

  .u-section-6 .u-image-2 {
    width: 540px;
    height: 58px;
  }

  .u-section-6 .u-image-3 {
    width: 540px;
    height: 172px;
  }

  .u-section-6 .u-image-4 {
    width: 540px;
    height: 174px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 768px;
  }

  .u-section-6 .u-text-1 {
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 51px;
  }

  .u-section-6 .u-image-2 {
    width: 340px;
    height: 37px;
  }

  .u-section-6 .u-image-3 {
    width: 340px;
    height: 108px;
  }

  .u-section-6 .u-image-4 {
    width: 340px;
    height: 110px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 757px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 62px 260px 0 77px;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  margin: 29px 70px 0;
}

.u-section-7 .u-image-1 {
  width: 819px;
  height: 396px;
  margin: -20px auto 0 70px;
}

.u-section-7 .u-text-3 {
  font-size: 1.25rem;
  margin: 9px 70px 20px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    width: 803px;
    margin-left: 0;
    margin-right: 137px;
  }

  .u-section-7 .u-text-2 {
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-7 .u-text-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    width: 720px;
  }

  .u-section-7 .u-image-1 {
    width: 720px;
    height: 348px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-7 .u-text-1 {
    width: 540px;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 261px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-7 .u-text-1 {
    width: 340px;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 164px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 1426px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  margin: 61px 157px 0 77px;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  margin: 20px 260px 0 77px;
}

.u-section-8 .u-image-1 {
  width: 916px;
  height: 181px;
  margin: -1138px auto 0 77px;
}

.u-section-8 .u-image-2 {
  width: 570px;
  height: 96px;
  margin: 279px auto 0 69px;
}

.u-section-8 .u-image-3 {
  width: 570px;
  height: 246px;
  margin: 244px auto 60px 77px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    width: 803px;
    margin-left: 0;
    margin-right: 34px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 137px;
    margin-left: 0;
  }

  .u-section-8 .u-image-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1387px;
  }

  .u-section-8 .u-text-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
  }

  .u-section-8 .u-image-1 {
    width: 720px;
    height: 142px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1334px;
  }

  .u-section-8 .u-text-1 {
    width: 540px;
  }

  .u-section-8 .u-image-1 {
    width: 540px;
    height: 107px;
  }

  .u-section-8 .u-image-2 {
    width: 540px;
    height: 91px;
    margin-left: 0;
  }

  .u-section-8 .u-image-3 {
    width: 540px;
    height: 233px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1174px;
  }

  .u-section-8 .u-text-1 {
    width: 340px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 67px;
  }

  .u-section-8 .u-image-2 {
    width: 340px;
    height: 57px;
  }

  .u-section-8 .u-image-3 {
    width: 340px;
    height: 147px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 1350px;
}

.u-section-9 .u-image-1 {
  width: 661px;
  height: 382px;
  margin: 0 auto 0 64px;
}

.u-section-9 .u-text-1 {
  font-size: 1.125rem;
  margin: 14px 274px 0 64px;
}

.u-section-9 .u-image-2 {
  width: 722px;
  height: 265px;
  margin: 14px auto 0 55px;
}

.u-section-9 .u-text-2 {
  font-size: 1.125rem;
  margin: 50px 197px 0 64px;
}

.u-section-9 .u-image-3 {
  width: 1012px;
  height: 89px;
  margin: -262px auto 0;
}

.u-section-9 .u-image-4 {
  width: 735px;
  height: 103px;
  margin: 197px auto 60px 64px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1344px;
  }

  .u-section-9 .u-image-1 {
    margin-left: 0;
  }

  .u-section-9 .u-text-1 {
    width: 803px;
    margin-left: 0;
    margin-right: 137px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 137px;
    margin-left: 0;
  }

  .u-section-9 .u-image-3 {
    width: 940px;
    height: 83px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1321px;
  }

  .u-section-9 .u-text-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-9 .u-image-2 {
    width: 720px;
    height: 264px;
    margin-left: 0;
  }

  .u-section-9 .u-text-2 {
    margin-right: 0;
  }

  .u-section-9 .u-image-3 {
    width: 720px;
    height: 64px;
  }

  .u-section-9 .u-image-4 {
    width: 720px;
    height: 101px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1144px;
  }

  .u-section-9 .u-image-1 {
    width: 540px;
    height: 312px;
  }

  .u-section-9 .u-text-1 {
    width: 540px;
  }

  .u-section-9 .u-image-2 {
    width: 540px;
    height: 198px;
  }

  .u-section-9 .u-image-3 {
    width: 540px;
    height: 48px;
  }

  .u-section-9 .u-image-4 {
    width: 540px;
    height: 76px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 909px;
  }

  .u-section-9 .u-image-1 {
    width: 340px;
    height: 196px;
  }

  .u-section-9 .u-text-1 {
    width: 340px;
  }

  .u-section-9 .u-image-2 {
    width: 340px;
    height: 125px;
  }

  .u-section-9 .u-image-3 {
    width: 340px;
    height: 30px;
  }

  .u-section-9 .u-image-4 {
    width: 340px;
    height: 48px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 943px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  margin: 63px 263px 0 75px;
}

.u-section-10 .u-text-2 {
  font-size: 1.125rem;
  margin: 27px 264px 0 74px;
}

.u-section-10 .u-image-1 {
  width: 445px;
  height: 331px;
  margin: 11px auto 0 75px;
}

.u-section-10 .u-text-3 {
  font-size: 1.125rem;
  margin: 27px 263px 0 75px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-1 {
    width: 803px;
    margin-left: 0;
    margin-right: 137px;
  }

  .u-section-10 .u-text-2 {
    width: 803px;
    margin-left: 0;
    margin-right: 137px;
  }

  .u-section-10 .u-text-3 {
    margin-right: 137px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-text-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-10 .u-text-2 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-10 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-1 {
    width: 540px;
  }

  .u-section-10 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 865px;
  }

  .u-section-10 .u-text-1 {
    width: 340px;
  }

  .u-section-10 .u-text-2 {
    width: 340px;
  }

  .u-section-10 .u-image-1 {
    width: 340px;
    height: 253px;
    margin-left: 0;
  }

  .u-section-10 .u-text-3 {
    margin-left: 0;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 558px;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  margin: 20px -54px 0 74px;
}

.u-section-11 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 87px 0 74px;
}

.u-section-11 .u-image-1 {
  width: 795px;
  height: 260px;
  margin: 36px auto 60px 108px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-11 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-11 .u-image-1 {
    width: 720px;
    height: 235px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 474px;
  }

  .u-section-11 .u-image-1 {
    width: 540px;
    height: 176px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 409px;
  }

  .u-section-11 .u-image-1 {
    width: 340px;
    height: 111px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 1104px;
}

.u-section-12 .u-text-1 {
  font-weight: 700;
  margin: 20px -54px 0 74px;
}

.u-section-12 .u-image-1 {
  width: 570px;
  height: 171px;
  margin: 31px auto 60px 64px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1095px;
  }

  .u-section-12 .u-image-1 {
    width: 540px;
    height: 162px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1035px;
  }

  .u-section-12 .u-image-1 {
    width: 340px;
    height: 102px;
  }
}