 .u-section-1 {
  background-image: url("images/yyy.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 581px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 581px;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px 25px;
}

.u-section-1 .u-text-1 {
  letter-spacing: normal;
  font-family: Barlow;
  font-weight: 700;
  font-size: 3rem;
  text-transform: none;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 30px 78px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px 95px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 400;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  margin: 46px auto 0 0;
  padding: 10px 52px 10px 51px;
}

.u-section-1 .u-image-1 {
  min-height: 581px;
  background-image: url("images/ffffff.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 30px 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 479px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 5px;
  }

  .u-section-1 .u-image-1 {
    min-height: 479px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 265px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 367px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 500px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 313px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 315px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 843px;
}

.u-section-2 .u-text-1 {
  margin: 60px 235px 0;
}

.u-section-2 .u-image-1 {
  width: 550px;
  height: 526px;
  object-position: 43.75% 50%;
  margin: 45px auto 0 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  width: 570px;
  margin: -526px 0 0 auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 10px));
  min-height: 526px;
  grid-gap: 20px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 16px 30px;
}

.u-section-2 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 7px 0 0;
}

.u-section-2 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 31px auto 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 16px 30px;
}

.u-section-2 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  margin: 7px 0 0;
}

.u-section-2 .u-text-5 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 31px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 16px 30px;
}

.u-section-2 .u-icon-3 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  margin: 7px 0 0;
}

.u-section-2 .u-text-7 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 31px auto 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 16px 30px;
}

.u-section-2 .u-icon-4 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  margin: 7px 0 0;
}

.u-section-2 .u-text-9 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 31px auto 0;
}

.u-section-2 .u-text-10 {
  margin: 30px 497px 60px;
}

.u-section-2 .u-btn-5 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 135px;
    margin-right: 135px;
  }

  .u-section-2 .u-image-1 {
    width: 450px;
    object-position: 41.45% 50%;
  }

  .u-section-2 .u-list-1 {
    height: auto;
    width: 470px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: 27px;
    margin-left: 397px;
    margin-right: 397px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-list-1 {
    margin-top: 25px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-10 {
    margin-top: 45px;
    margin-left: 287px;
    margin-right: 287px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 833px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    margin-top: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-10 {
    margin-left: 197px;
    margin-right: 197px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-2 .u-image-1 {
    height: 397px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-2 .u-text-10 {
    margin-left: 97px;
    margin-right: 97px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 740px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 537px;
  margin: 60px auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 628px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 30px;
}

.u-section-3 .u-image-1 {
  height: 327px;
  width: 507px;
  margin: 20px 0 0 30px;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 139px 0 30px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 400;
  padding: 0;
}

.u-section-3 .u-list-1 {
  width: 402px;
  margin: -587px 168px 60px auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 572px;
  grid-gap: 10px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 103px 0 51px;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0 51px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 103px 0 51px;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0 51px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 590px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-text-2 {
    margin-right: 162px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 212px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 577px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 139px;
  }

  .u-section-3 .u-list-1 {
    margin-right: 138px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    height: 219px;
    width: 340px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 72px;
    margin-left: 20px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 20px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 72px;
    margin-left: 20px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 20px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 690px;
}

.u-section-4 .u-image-1 {
  width: 793px;
  height: 584px;
  object-position: 95.67% 50%;
  background-position: 95.67% 50%;
  margin: 53px auto 0 0;
}

.u-section-4 .u-group-1 {
  width: 508px;
  min-height: 485px;
  margin: -525px 0 93px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px 30px 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  line-height: 52.8px;
  letter-spacing: normal;
  font-family: Roboto, sans-serif;
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 30px 0 0 105px;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0 302px;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: solid;
  background-image: none;
  margin: 20px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-4 .u-image-1 {
    width: 587px;
    height: 544px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -485px;
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1029px;
  }

  .u-section-4 .u-image-1 {
    height: 485px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-group-1 {
    min-height: 418px;
    margin-top: 20px;
    margin-bottom: 53px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 53px;
    margin-right: 53px;
  }

  .u-section-4 .u-text-3 {
    width: 176px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-btn-2 {
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 890px;
  }

  .u-section-4 .u-image-1 {
    height: 346px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-4 .u-image-1 {
    height: 234px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-1 {
    min-height: 390px;
    margin-top: 11px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 134px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 690px;
}

.u-section-5 .u-text-1 {
  width: 489px;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: none;
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  width: 628px;
  margin: 20px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 44px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 390px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 19px;
}

.u-section-5 .u-icon-1 {
  width: 72px;
  height: 72px;
  background-image: none;
  margin: 8px auto 0;
  padding: 7px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  text-transform: none;
  font-size: 1.25rem;
  margin: 24px 0 0;
}

.u-section-5 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 390px;
}

.u-section-5 .u-container-layout-2 {
  padding: 29px 19px;
}

.u-section-5 .u-icon-2 {
  width: 84px;
  height: 84px;
  margin: 0 auto;
  padding: 0;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  text-transform: none;
  font-size: 1.25rem;
  margin: 21px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  background-image: none;
  align-self: center;
  text-decoration: underline !important;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 390px;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 19px;
}

.u-section-5 .u-icon-3 {
  width: 84px;
  height: 84px;
  margin: 20px 109px 0 auto;
  padding: 0;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  text-transform: none;
  font-size: 1.25rem;
  margin: 21px auto 0 20px;
}

.u-section-5 .u-text-7 {
  margin: 29px 0 0 10px;
}

.u-section-5 .u-text-8 {
  margin: -96px 0 0 10px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 322px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 322px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 322px;
  }

  .u-section-5 .u-icon-3 {
    margin-right: 86px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
  }

  .u-section-5 .u-text-8 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-icon-3 {
    margin-right: 61px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1153px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }
}